{% if section.settings.heading_label != blank or section.settings.sub_heading !=blank %}
<div class="item item-text">
    <div class="item-inner"> {% if section.settings.heading_label != blank %} {{ section.settings.heading_label }} {% endif %}
        {% if section.settings.sub_heading != blank %} <br>{{ section.settings.sub_heading }} {% endif %}
    </div>
</div>
{% endif %}
{% schema %}
  {
    "name": "LR Custom Rich Text",
    "settings": [
      {
        "type": "text",
        "id": "heading_label",
        "label": "Heading",
        "default": "Lost River"
      },
      {
        "type": "textarea",
        "id": "sub_heading",
        "label": "Sub Heading",
        "default": "is a new type of book business: a publishing house and an online bookstore. We publish original, thought-provoking, imaginative fiction and nonfiction—books to talk about and to share."
      },
    ],
    "presets": [
      {
        "name": "LR Custom Rich Text"
      }
    ]
  }
{% endschema %}