<div class="plp-header">
    <div class="plp-header-primary">
      
    </div>
  {%- if section.settings.enable_sorting -%}
    <div class="plp-header-secondary">
        <ul class="plp-header-tools">
            <li class="plp-header-tools-filter plp-header-tools-filter-sort">
              <span class="plp-header-tools-filter-title">{{ 'products.facets.sort_by_label' | t }}</span>
              <span class="plp-header-tools-filter-icon"></span>
            </li>
        </ul>
    </div>
  {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%} 
    <div class="ReactModalPortal ReactModal__Body--open" id="sort_by_filter">
      {% render 'lr-sort-filter-drawer', 
         sort_by: sort_by, %}
    </div>
  {% endif %} 
</div>
{% schema %}
  {
    "name": "Custom Collection Banner",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "default": false,
        "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
        "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
      },
      {
        "type": "checkbox",
        "id": "enable_sorting",
        "default": false,
        "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
      }
    ]
  }
{% endschema %}