.site-system .item-product-minibag .info .caption {
  margin: 0px;
}
@media (min-width: 835px) {
    .site-system .item-product.item-product-minibag {
        height: 78px;
    }
}
@media (min-width: 835px) {
    .site-system .item-product.item-product-minibag {
        height: 78px;
    }
    .site-system .item-product.item-product-minibag .image {
        position: absolute;
        left: 8px;
        top: 8px;
    }
}