.page-account .button {
    font-weight: 500;
}
.site-system .item-product.item-product-horizontal .info .title {
    font-weight: 500;
}
.site-system .widget-tracking {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 2px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    box-sizing: content-box;
}
.page-account.page-account-orders-detail .item-product {
  padding: 10px 12px;
  border: 1px solid;
}
.page-account.page-account-orders-detail .item-product .image {
    width: 95px;
}
.page-account.page-account-orders-detail .item-product .image img {
    height: auto;
}
.page-account.page-account-orders-detail .item-product .info .caption {
    margin: 0 0 0;
}
.site-system .item-product.item-product-horizontal .info .values {
    margin-top: 5px;
}
.site-system .item-product.item-product-horizontal .info .tools {
    padding-top: 0;
}
.page-account.page-account-orders-detail .item-pricing .caption {
    margin: 0;
}
.page-account.page-account-orders-detail .item.item-total.divider .caption {
    margin: 0;
}
@media (min-width: 576px) {
  .page-account.page-account-orders-detail .item-product {
      margin-bottom: 22px;
      border: 1px solid;
  }
}

@media (min-width: 835px) {
    .site-system .widget-tracking {
        flex-direction: row;
    }    
    .site-system .widget-tracking .widget-tracking-detail-status {
        margin-right: 20px;
    }
    .site-system .widget-tracking .widget-tracking-detail-button {
        margin-left: auto;
    }
}
@media (max-width: 575px) {
    .page-account.page-account-orders-detail {
        padding: 35px 24px 0;
    }
  .page-account.page-account-orders-detail .item-product .image{
    width: 55%;
  }
  .page-account.page-account-orders-detail .item-product .info {
    display: inline-block;
  }
}